tunnel1_local_port: 10001
tunnel1_tunnel_user: username
tunnel1_tunnel_host: 123.123.123.123
tunnel1_tunnel_port: 22
tunnel1_remote_port: 12345

tunnel2_local_port: 10002
tunnel2_tunnel_user: username
tunnel2_tunnel_host: 123.123.123.123
tunnel2_tunnel_port: 22
tunnel2_remote_port: 12345
